html{
	max-width: 950px;
}

body{
	background: rgb(220,220,180);
	font-family: Georgia;
}

#sides {
	margin-left:5%;
	margin-right:5%;
	background: rgb(200,220,180);
	font-size: 1.2em;
	max-width: 850px;
}

table{
	background-image: url("background-img.jpg");
	color: white;
	font-family: courier;
}
nav {
	border: 1px solid;
	border-radius: 10px;
	min-width: 300px;
	width:25%;
	padding: 3px;
	background: rgb(200,200,200);

}

footer {
	position: absolute;
	
	
}

img {
	width: 100%;
	height: auto;
}

.center {
	max-width: 25%;
	margin: auto;
	padding-bottom: 5px;
}

a:visited {
color: rgb(50,50,50);
}

@media screen and (max-width: 500px) {
  body {
    font-family: arial;
  }
}
